.socialContainer{
    /* alignment */
    justify-self: center;
    justify-content:center;
    align-content:center;
    justify-items:center;
    align-items: center;


    height:60vw;

    /* type of container */
    display: -moz-grid-line;
    padding: 1vw;
    margin-left:28%;
    margin-right:28%;

    /* visuals */
    background-color: var(--darkOfLogo);
    border-radius:6%;
    border-style:groove;
    border-color: var(--toolbarBackground);
}

a[alt=social]{
    display:inline-block;
    width: 16.1vw;
    height:16.1vw;
    margin: 2vw;
}

img[alt="social"] {
    width:16.1vw;
    height:16.1vw;
    user-select: none;
}

/* Mobile styles override */
@media (max-width: 600px) {

    img[alt="social"] {
        width:15.4vw;
        height:15.4w;
    }

    a[alt=social]{
        display:inline-block;
        width:15.4vw;
        height:15.4vw;

    }

    .mobile-only {
            display: block;
    }

    .desktop-only {
        display: none;
    }
}

/* Desktop/Tablet styles override */
@media (min-width: 601px) {

}