/* logo */
img[alt="LOGO"] {
        width: 90%;
        align-self:left;
        vertical-align: center;
}
/* button */
button {        
        color: var(--pageBackground);
        background-color: var(--darkOfLogo);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1vw;
        height:95%;
        border:0px;
        margin:0px;
}
/* button upon hover */
button:hover {          
        color: var(--pageBackground);
        background-color: rgb(6, 89, 153);
        cursor: pointer;
}
/* toolbar container */
.toolbarContainer {
        /* alignment */
        justify-self: center;
        justify-content:space-between;
        margin:0%;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;

        height:6vw;

        /* type of container */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap:5px;
        padding-bottom: 5px;
        padding-top: 5px;
        align-items: center;

        /* visuals */
        background-color: var(--toolbarBackground);

}

/* Mobile styles override */
@media (max-width: 600px) {

        img[alt="LOGO"] {
                width: 75%;
                align-self: center;
        }
        
        button {
                height:90%;
                font-size: 3vw;
        }

        .toolbarContainer {
                margin:0%;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                column-gap:5px;
                padding-bottom: 5px;
                padding-top: 5px;

                height:50vw;

                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
                column-gap:5px;
                padding-bottom: 5px;
                padding-top: 5px;
                align-items: center;


        
        }

        .mobile-only {
                display: block;
        }
    
        .desktop-only {
            display: none;
        }
    }
    
    /* Desktop/Tablet styles override */
    @media (min-width: 601px) {
    
    }