.socialContainer{
    /* alignment */
    justify-content: center;
    align-content: top;

    /* type of container */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vw;
    width: 44%;
    height:40vw;

    /* visuals */
    background-color: var(--darkOfLogo);
    border-radius:6%;
    border-style:groove;
    border-color: var(--toolbarBackground);


}

a[alt=social]{
    display:inline-block;
    width: 12.1vw;
    height:11.5vw;
    margin: .5vw;
}

img[alt="social"] {
    width:12.1vw;
    height:11.5vw;
    user-select: none;
}

/* Mobile styles override */
@media (max-width: 600px) {

    img[alt="social"] {
        width:15.4vw;
        height:15.4w;
    }

    a[alt=social]{
        display:inline-block;
        width:15.4vw;
        height:15.4vw;

    }

    .socialContainer{
    /* type of container */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1vw;
    margin-left:28%;
    margin-right:28%;
    height:60vw;


    }

    .mobile-only {
        display: block;



    }

    .desktop-only {
        display: none;
    }
}

/* Desktop/Tablet styles override */
@media (min-width: 601px) {

}